<h3> View Doctor Details</h3>
<div>
    <div>
        <label> <b> First Name: </b></label> {{doctor.firstName}}
    </div>
    <div>
        <label> <b> Last Name: </b></label> {{doctor.lastName}}
    </div>
    <div>
        <label> <b> Email : </b></label> {{doctor.email}}
    </div>

    <div>
        <label> <b> city: </b></label> {{doctor.city}}
    </div>

    <div>
        <label> <b> hospitalname: </b></label> {{doctor.hospitalname}}
    </div>

    <div>
        <label> <b> mobileno: </b></label> {{doctor.mobileno}}
    </div>

</div>